*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
  background-color: #83869a;
  scroll-behavior: smooth;
}

main {
  width: 100vw;
  background-color: #f0f1ff;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 15vh;
  margin: auto;
  padding: 1rem;
  background-color: #f0f1ff;
}
.header__logo {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
}
.header__logo .img {
  width: 100%;
}
.header__btn {
  width: 40%;
  height: 60%;
  border: none;
  border-radius: 50px;
  color: #f0f1ff;
  background-color: #13183f;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  z-index: 2;
}

.profile {
  width: 90%;
  height: 100vh;
  margin: auto;
  padding: 1rem;
  background-color: #f0f1ff;
}
.profile__description {
  height: 30%;
}
.profile__header {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2rem;
}
.profile__text {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.profile__btn {
  width: 40%;
  height: 25%;
  margin-top: 1rem;
  border: none;
  border-radius: 50px;
  color: #f0f1ff;
  background: linear-gradient(180deg, #ff6f48, #f02aa6);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}
.profile__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  margin-top: 25%;
}
.profile__hero .img-mobile {
  width: 100%;
}
.profile__hero .img-tablet {
  display: none;
}
.profile__hero .img-desktop {
  display: none;
}

.offert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.offert__baner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 120px;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 10px;
  background: linear-gradient(180deg, #ff6f48, #f02aa6);
}
.offert__baner h2 {
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
.offert__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 2rem;
  padding: 2rem 3rem;
  border-radius: 10px;
  background-color: white;
}
.offert__icon {
  position: relative;
  top: -50px;
}
.offert__text {
  position: relative;
  top: -4rem;
}
.offert__title {
  margin-bottom: 2rem;
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
}
.offert__description {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
}
.offert__btn {
  position: relative;
  top: 3rem;
  font-size: 1.8rem;
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  color: #f74780;
  background: none;
  border: none;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  padding: 3rem;
  background: #13183f;
}
.footer__logo {
  width: 30%;
}
.footer__logo img {
  width: 100%;
  height: 100%;
}
.footer__btn {
  width: 40%;
  height: 50%;
  border: none;
  border-radius: 50px;
  color: #f0f1ff;
  background-color: #f74780;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header {
    height: 10vh;
    padding: 1rem 3rem;
  }
  .header__logo {
    width: 20%;
  }
  .header__btn {
    width: 25%;
    font-size: 1.8rem;
  }
  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 3rem;
  }
  .profile__description {
    height: 100%;
    width: 60%;
  }
  .profile__header {
    font-size: 2.6rem;
  }
  .profile__text {
    font-size: 1.6rem;
  }
  .profile__btn {
    width: 50%;
    height: 10%;
    margin-top: 4rem;
  }
  .profile__hero {
    position: relative;
    bottom: 15%;
    left: 25%;
    width: auto;
    height: auto;
    margin-top: 0;
  }
  .profile__hero .img-mobile {
    display: none;
  }
  .profile__hero .img-tablet {
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1.3);
  }
  .offert {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .offert__baner {
    width: 90%;
    height: 83%;
    margin: auto;
  }
  .footer {
    height: 10vh;
  }
  .footer__logo {
    width: 20%;
  }
  .footer__btn {
    width: 20%;
    height: 80%;
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .header {
    height: 12vh;
  }
  .header__logo {
    width: 20%;
  }
  .header__btn {
    width: 25%;
    height: 70%;
    font-size: 1.8rem;
  }
  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 5rem 3rem;
  }
  .profile__description {
    height: 100%;
    width: 50%;
  }
  .profile__header {
    font-size: 4rem;
  }
  .profile__text {
    font-size: 2rem;
  }
  .profile__btn {
    width: 50%;
    height: 15%;
    margin-top: 4rem;
  }
  .profile__hero {
    position: relative;
    bottom: 30%;
    left: 14%;
    width: 50%;
    height: auto;
    margin-top: 0;
  }
  .profile__hero .img-mobile {
    display: none;
  }
  .profile__hero .img-tablet {
    display: none;
  }
  .profile__hero .img-desktop {
    display: block;
    width: auto;
    height: auto;
    transform: scale(0.6);
    z-index: 1;
  }
  .offert {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer {
    height: 10vh;
    padding: 0 7%;
  }
  .footer__logo {
    width: 10%;
  }
  .footer__btn {
    width: 20%;
    height: 60%;
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  main {
    max-width: 1200px;
    margin: auto;
  }
  .header {
    width: 100%;
    height: 10vh;
    padding: 2rem;
  }
  .header__logo {
    width: 15%;
    padding-left: 6rem;
  }
  .header__btn {
    width: 20%;
    height: 100%;
    font-size: 1.8rem;
  }
  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
    padding: 5rem 8rem;
  }
  .profile__description {
    height: 100%;
    width: 50%;
  }
  .profile__header {
    font-size: 4rem;
  }
  .profile__text {
    margin-top: 2rem;
    font-size: 2.6rem;
    font-weight: 300;
  }
  .profile__btn {
    width: 50%;
    height: 15%;
    margin-top: 4rem;
  }
  .profile__hero {
    position: relative;
    bottom: 30%;
    left: 14%;
    width: 50%;
    height: auto;
    margin-top: 0;
  }
  .profile__hero .img-mobile {
    display: none;
  }
  .profile__hero .img-tablet {
    display: none;
  }
  .profile__hero .img-desktop {
    display: block;
    width: auto;
    height: auto;
    transform: scale(0.6);
    z-index: 1;
  }
  .footer {
    height: 10vh;
    max-width: 1200px;
    margin: auto;
  }
  .footer__logo {
    width: 10%;
  }
  .footer__btn {
    width: 20%;
    height: 50%;
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */