$blue-light: #666ca3;
$blue-dark: #13183f;
$gray: #83869a;
$gray-light: #f0f1ff;
$pink-dark: #f74780;
$pink-light: #ffa7c3;
$pink-gradient: #f02aa6;
$orange-gradient: #ff6f48;
$blue-gradient: #4851ff;

$color-pink-gradient: #f02aa6;
$color-orange-gradient: #ff6f48;
$color-blue-gradient: #4851ff;

$gradient-pink: linear-gradient(180deg, $color-orange-gradient, $color-pink-gradient);

$gradient-blue: linear-gradient(180deg, $color-blue-gradient, $color-pink-gradient);
