@use './colors' as color;

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
}

body {
	font-family: 'Fraunces', serif;
	font-family: 'Montserrat', sans-serif;
	background-color: color.$gray;
	scroll-behavior: smooth;
}

main {
	width: 100vw;
	background-color: color.$gray-light;
	overflow: hidden;
}

//Header Section
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	height: 15vh;
	margin: auto;
	padding: 1rem;
	background-color: color.$gray-light;

	&__logo {
		display: flex;
		align-items: center;
		width: 30%;
		height: 100%;

		.img {
			width: 100%;
		}
	}

	&__btn {
		width: 40%;
		height: 60%;
		border: none;
		border-radius: 50px;
		color: color.$gray-light;
		background-color: color.$blue-dark;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.4rem;
		font-weight: 700;
		cursor: pointer;
		z-index: 2;
	}
}

// Section Profile
.profile {
	width: 90%;
	height: 100vh;
	margin: auto;
	padding: 1rem;
	background-color: color.$gray-light;

	&__description {
		height: 30%;
	}
	&__header {
		font-family: 'Montserrat', sans-serif;
		font-size: 3.2rem;
	}

	&__text {
		margin-top: 1rem;
		font-size: 1.3rem;
		font-weight: 500;
	}

	&__btn {
		width: 40%;
		height: 25%;
		margin-top: 1rem;
		border: none;
		border-radius: 50px;
		color: color.$gray-light;
		background: color.$gradient-pink;
		font-family: 'Montserrat', sans-serif;
		font-size: 1.4rem;
		font-weight: 700;
		cursor: pointer;
	}

	&__hero {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 60%;
		margin-top: 25%;

		.img-mobile {
			width: 100%;
		}
		.img-tablet {
			display: none;
		}
		.img-desktop {
			display: none;
		}
	}
}

// Section Offert

.offert {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: auto;

	&__baner {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 90%;
		height: 120px;
		margin-bottom: 2rem;
		padding: 2rem;
		border-radius: 10px;
		background: color.$gradient-pink;

		h2 {
			font-family: 'montserrat', sans-serif;
			font-size: 2rem;
			font-weight: 600;
			color: white;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 90%;
		margin: 2rem;
		padding: 2rem 3rem;
		border-radius: 10px;
		background-color: white;
	}

	&__icon {
		position: relative;
		top: -50px;
	}

	&__text {
		position: relative;
		top: -4rem;
	}

	&__title {
		margin-bottom: 2rem;
		font-family: 'montserrat', sans-serif;
		font-size: 2rem;
	}

	&__description {
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 2rem;
	}

	&__btn {
		position: relative;
		top: 3rem;
		font-size: 1.8rem;
		font-family: 'montserrat', sans-serif;
		font-weight: bold;
		color: color.$pink-dark;
		background: none;
		border: none;
		cursor: pointer;
	}
}

// 768 px

@media (min-width: 768px) {
	.header {
		height: 10vh;
		padding: 1rem 3rem;

		&__logo {
			width: 20%;
		}

		&__btn {
			width: 25%;
			font-size: 1.8rem;
		}
	}

	.profile {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 50vh;
		padding: 3rem;

		&__description {
			height: 100%;
			width: 60%;
		}
		&__header {
			font-size: 2.6rem;
		}

		&__text {
			font-size: 1.6rem;
		}

		&__btn {
			width: 50%;
			height: 10%;
			margin-top: 4rem;
		}

		&__hero {
			position: relative;
			bottom: 15%;
			left: 25%;
			width: auto;
			height: auto;
			margin-top: 0;

			.img-mobile {
				display: none;
			}
			.img-tablet {
				display: block;
				width: 100%;
				height: 100%;
				transform: scale(1.3);
			}
		}
	}

	.offert {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		&__baner {
			width: 90%;
			height: 83%;
			margin: auto;
		}
	}
}

// 992px

@media (min-width: 992px) {
	.header {
		height: 12vh;

		&__logo {
			width: 20%;
		}

		&__btn {
			width: 25%;
			height: 70%;
			font-size: 1.8rem;
		}
	}

	.profile {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 50vh;

		padding: 5rem 3rem;

		&__description {
			height: 100%;
			width: 50%;
		}
		&__header {
			font-size: 4rem;
		}

		&__text {
			font-size: 2rem;
		}

		&__btn {
			width: 50%;
			height: 15%;
			margin-top: 4rem;
		}

		&__hero {
			position: relative;
			bottom: 30%;
			left: 14%;
			width: 50%;
			height: auto;
			margin-top: 0;

			.img-mobile {
				display: none;
			}
			.img-tablet {
				display: none;
			}
			.img-desktop {
				display: block;
				width: auto;
				height: auto;
				transform: scale(0.6);
				z-index: 1;
			}
		}
	}

	.offert {
		grid-template-columns: repeat(3, 1fr);
	}
}

// 1200px desktop

@media (min-width: 1200px) {
	main {
		max-width: 1200px;
		margin: auto;
	}
	.header {
		width: 100%;
		height: 10vh;
		padding: 2rem;

		&__logo {
			width: 15%;
			padding-left: 6rem;
		}

		&__btn {
			width: 20%;
			height: 100%;
			font-size: 1.8rem;
		}
	}
	.profile {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 60vh;
		width: 100%;
		padding: 5rem 8rem;

		&__description {
			height: 100%;
			width: 50%;
		}
		&__header {
			font-size: 4rem;
		}

		&__text {
			margin-top: 2rem;
			font-size: 2.6rem;
			font-weight: 300;
		}

		&__btn {
			width: 50%;
			height: 15%;
			margin-top: 4rem;
		}

		&__hero {
			position: relative;
			bottom: 30%;
			left: 14%;
			width: 50%;
			height: auto;
			margin-top: 0;

			.img-mobile {
				display: none;
			}
			.img-tablet {
				display: none;
			}
			.img-desktop {
				display: block;
				width: auto;
				height: auto;
				transform: scale(0.6);
				z-index: 1;
			}
		}
	}
}
